.alert
  position: fixed
  z-index: 500
  text-align: center
  font: inherit
  font-size: 1.5rem
  line-height: 2.5
  left: 0
  right: 0
  bottom: 0
  transform: translateY(100%)
  transition: transform .4s

.active
  transform: translateY(0)
  // animation: slideDown 2.5s 1.0s 1 ease forwards
  display: block

.alert__success
  background-color: #2FEDC2

.alert__error
  background-color: #EB5757

.alert--close-button
  position: absolute
  right: 15px
  top: 0
  bottom: 0
  margin: auto
  height: 1.5rem
  width: 1.5rem
  cursor: pointer
  background: url('/static/images/android-close.svg')
  background-size: cover

.alert--content
  a
    color: $white
    font-size: 1em
    font-weight: inherit

@keyframes slideDown
  10% { transform: translateY(0) }
  100% { transform: translateY(0) }
