$primary0 = #2F80ED
$primary25 = #6CB2FF
$primary50 = #7B94F0
$primary75 = #8879E3
$primary100 = #8037C3

$black = #111
$white = #fefefe

$grey = #AAA

$boxShadowLarge = 0px 4px 20px rgba(0, 0, 0, 0.2)

.box-shadow--large
  box-shadow: $boxShadowLarge
  background-color: $white