$primary0 = #3c3863
$primary25 = #000000
$primary50 = #666153
$primary75 = #8879E3
$primary100 = #8037C3

$black = #111
$white = #fefefe

$grey = #888

$boxShadowLarge = 0px 4px 20px rgba(0, 0, 0, 0.2)

.box-shadow--large
  box-shadow: $boxShadowLarge
  background-color: $white