.section--contact
  padding-top: 2rem
  padding-bottom: 2rem
  background: linear-gradient(to bottom, $primary25 0%, $primary50 100%)
  color: $white

  .button 
    margin-top: .5rem
    width: 100%

@media screen and (min-width: 512px)
  .section--contact
    .button 
      width: auto