.divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: 8px 0px;
}

.divider:after {
	content: "";
	flex-grow: 1;
	background: rgba(0,0,0,0.35);
  margin-left: 15px;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.divider:before {
	content: "";
	margin-right: 15px;
	flex-grow: 1;
	background: rgba(0,0,0,0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}