.divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin-bottom: 15px;
  color: $grey;
}

.divider:after {
	content: "";
	flex-grow: 1;
	background: $grey;
  margin-left: 15px;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.divider:before {
	content: "";
	margin-right: 15px;
	flex-grow: 1;
	background: $grey;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}