.header
  display: flex
  font-family: $sans
  justify-content: space-between

.webkid-logo
  font-size: 3.2rem
  text-decoration: none
  color: $white
  font-weight: 400

.nav
  display: flex
  align-items: center
  font-weight: 300

.nav__item
  margin-left: 15px
  text-decoration: none
  color: $white

  &:hover
    border-bottom: 1px solid $white

@media screen and (min-width: 1024px)
  .webkid-logo
    font-size: 2rem

  .nav__item
    align-self: baseline
    line-height: 1.4
