@import 'colors'
@import 'typo'
@import 'header'
@import 'sections'
@import 'divider'
@import 'input'

body, html
  margin: 0
  padding: 0
  font-family: $sans

.content
  width: 100%
  max-width: 1000px
  margin: 0 auto