@import 'variables'
@import 'header'
@import 'sections'
@import 'teaser'
@import 'contact'

body, html
  background: $bgColor
  color: $textWhite
  font-family: $fontFamily
  margin: 0
  font-size: 12px
  font-weight: 200

  *
    box-sizing: border-box
    //-webkit-font-smoothing: antialiased

a
  text-decoration: underline
  color: $textWhite

  &:hover
    color: darken($textWhite, 30)

.font--large
  font-size: 3.2rem

.large-claim
  padding-bottom: 1rem

.box-row img, .box img
  width: 100%

.box--highlight
  border: 2px solid $highlightColor
  padding: 1.5rem

.box--text-large
  font-size: 2rem
  text-align: center

.box--text-center
  text-align: center

.team--info
  margin-top: -50px
  background: $bgColor
  z-index: 1000
  position: relative

.desktop-only
  display: none

@media screen and (min-width: 768px)
  body,html
    font-size: 14px
  
  .mobile-only
    display: none

  .desktop-only
    display: block

@media screen and (min-width: 1024px)
  body,html
    font-size: 16px