@import url('https://fonts.googleapis.com/css?family=Didact+Gothic')
@import 'variables'
@import 'header'
@import 'sections'
@import 'teaser'
@import 'contact'

body, html
  background: $bgColor
  color: $textWhite
  font-family: 'Didact Gothic', sans-serif
  margin: 0
  font-size: 12px

  *
    box-sizing: border-box
    -webkit-font-smoothing: antialiased

a
  text-decoration: underline
  color: $textWhite

  &:hover
    color: darken($textWhite, 30)

.font--large
  font-size: 3.2rem

.large-claim
  padding-bottom: 1rem

.box-row img
  width: 100%

.box--highlight
  border: 5px solid $highlightColor
  padding: 1.5rem

.box--text-large
  font-size: 2rem
  text-align: center

.box--text-center
  text-align: center

.team--info
  margin-top: -50px
  background: $bgColor
  z-index: 1000
  position: relative

@media screen and (min-width: 768px)
  body,html
    font-size: 14px

@media screen and (min-width: 1024px)
  body,html
    font-size: 16px