.tags
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.tag
  cursor: pointer
  flex-shrink: 0

  input
    visibility: hidden
    width: 0
    height: 0
    overflow: hidden
  
  input:checked + span
    background: rgba($white, .5)
  
  span
    padding: 5px 15px
    border: 2px solid $white
    border-radius: 30px
    display: block
    font-size: 1.2rem

.input-wrapper
  margin: 1rem 0
  max-width: 500px

.input[type="text"], textarea.input
  background: transparent
  border: 2px solid $white
  color: $white
  font-family: $sans
  padding: 1rem
  width: 100%
  outline: none
  font-size: 1.5rem
  resize: none
  box-sizing: border-box

input::placeholder,
textarea::placeholder
  color: $white

.button
  background: $white
  border: none
  outline: none
  font-family: $sans
  font-size: 1.5rem
  color: $primary0
  padding: 1rem 1.7rem