.input-wrapper
  margin: 1rem 0
  max-width: 500px

.input[type="text"], .input[type="email"], textarea.input
  background: white
  color: $white
  font-family: $sans
  font-size: 1.6rem
  border: none
  padding: .8rem
  width: 100%
  outline: none
  resize: none
  box-sizing: border-box
  color: $primary25
  border-radius: 4px

.label
  margin-bottom: .5rem
  display: block
  font-size: 1.6rem

.textarea
  height: 200px
  display: block

input::placeholder,
textarea::placeholder
  color: $primary25

.button
  background: transparent
  border: none
  outline: none
  font-family: $sans
  font-size: 1.8rem
  color: $white
  padding: .45em 2.5em
  border-radius: 4px
  // background: linear-gradient(to right, $primary25 0%, $primary75 100%)
  border: 2px solid $white
  cursor: pointer
  // transition: box-shadow .4s
  transition: background .3s
  display: inline-block
  text-decoration: none
  font-weight: 400

  &:hover
    // box-shadow: 0 0 6px 3px rgba(0, 0, 0, .2)
    background: rgba(255,255,255,.2)

@media screen and (min-width: 768px)
  .button
    font-size: 1.2rem

@media screen and (min-width: 1024px)
  .input[type="text"], .input[type="email"], textarea.input
    font-size: 1.1rem


// captcha
.captcha-wrapper
  display: block

  .label
    display: inline-block
    margin-right: 10px

    img
      vertical-align: sub

.captcha--active
  display: block

.captcha--question
  font-size: 1.6rem
  margin-right: 6px

.input[type="number"]
  background: white
  color: $white
  font-family: $sans
  font-size: 1.2rem
  border: none
  padding: .8rem
  outline: none
  resize: none
  max-width: 70px

  box-sizing: border-box
  color: $primary25
  border-radius: 4px
