.input-wrapper
  margin: 1rem 0
  max-width: 500px

.input[type="text"], textarea.input
  background: white
  color: $white
  font-family: $sans
  border: none
  padding: .8rem
  width: 100%
  outline: none
  resize: none
  box-sizing: border-box
  color: $primary25 
  font-size: .9rem  
  border-radius: 4px

.label 
  margin-bottom: .5rem
  display: block

.textarea
  height: 200px
  display: block

input::placeholder,
textarea::placeholder
  color: $primary25 

.button
  background: $white
  border: none
  outline: none
  font-family: $sans
  font-size: 1.25rem
  color: $white
  padding: .3rem 2.5rem
  border-radius: 4px
  background: linear-gradient(to right, $primary25 0%, $primary75 100%)
  border: 2px solid $white
  cursor: pointer
  transition: box-shadow .4s

  &:hover 
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .2)

@media screen and (min-width: 1024px)
  .input[type="text"], textarea.input
    font-size: 1.1rem