.section__projects--highlight
  background: linear-gradient(to bottom, $primary0 0%, $primary25 100%)
  color: $white

.project--higlighted
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.project__image--highlighted
  width: 100%
  max-width: 500px

.project__info
  flex: 1
  padding: 1em

  font-weight: 700
  h3
    text-transform: uppercase


.project-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.portfolio-project
  flex-grow: 0
  width: 49%

@media screen and (min-width: 768px)
  .portfolio-project
    width: 32%

@media screen and (min-width: 1024px)
  .portfolio-project
    width: 24%
