// single highlighted project
.section__projects--highlight
  background: linear-gradient(to bottom, $primary0 0%, $primary25 100%)
  color: $white

.project--higlighted
  padding: 2.5rem 0
  display: flex
  flex-flow: column wrap

.image--wrapper
  display: block

.project__image--highlighted
  width: 100%
  border-radius: 4px

.project__slider
  flex: 1
  max-height: 400px

  .swipe-wrap,
  .slide
    height: 100%
    min-height: 165px

  .slider__image
    height: 100%
    min-height: 165px
    width: 100%
    background-size: cover
    background-repeat: no-repeat

.project__info
  max-width: 500px

  h3
    text-transform: uppercase
    font-weight: 900

@media screen and (min-width: 414px)
  .project__slider,
  .swipe-wrap,
  .slide,
  .slider__image
    min-height: 350px!important

@media screen and (min-width: 768px)
  .project--higlighted
    display: flex
    flex-flow: row wrap
    justify-content: space-between

  .image--wrapper
    flex: 1

  .project__info
    flex: 1
    padding: 0 0 0 2rem

    h3
      margin-top: 0

@media screen and (min-width: 1024px)
  .project__info
    padding: 0 0 0 4rem

// projetcs grid
.projects-wrapper
  display: grid
  grid-template-columns: 49% 49%
  justify-content: space-between

@media screen and (min-width: 768px)
  .projects-wrapper
    display: grid
    grid-template-columns: 24% 24% 24% 24%


.portfolio-project
  margin-bottom: 30px

.project--image
  min-height: 0

@media screen and (min-width: 768px)
  .project--image
    padding-top: 0
