.section--intro
  background: linear-gradient(to bottom, $primary0 0%, $primary25 100%)
  color: $white
  padding: 15px
  padding-bottom: 200px

.headline
  text-align: center
  padding: 5rem 0 3rem 0
  
  h1
    text-transform: uppercase
    font-weight: 900
    font-size: 3.5rem
  
  h2
    font-weight: 400
    max-width: 700px
    margin: 0 auto
    line-height: 1.3

.section--intro-overlap
  padding: 15px
  position: relative
  top: -200px
  margin-bottom: -200px

.video-teaser
  width: 100%
  max-width: 1000px
  margin: 0 auto

  img, video
    width: 100%
    height: auto
    display: block

.section--clients
  box-sizing: border-box
  padding: 15px

.clients
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  >*
    padding: 10px 10px

.section--contact
  padding: 2rem 0
  background: linear-gradient(to bottom, $primary25 0%, $primary50 100%)
  color: $white