.section
  padding: 15px

.section--intro
  background: linear-gradient(to bottom, $primary0 0%, $primary25 100%)
  color: $white
  padding-bottom: 200px

.headline
  text-align: center
  padding: 5rem 0 3rem 0
  
  h1
    text-transform: uppercase
    font-weight: 900
    font-size: 3.5rem
  
  h2
    font-weight: 400
    max-width: 700px
    margin: 0 auto
    line-height: 1.3

.section--intro-overlap
  position: relative
  top: -200px
  margin-bottom: -200px

.video-teaser
  width: 100%
  max-width: 1000px
  margin: 0 auto

  img, video
    width: 100%
    height: auto
    display: block

.section--clients
  box-sizing: border-box

.clients
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  >*
    padding: 10px 10px

.section--contact
  padding-top: 2rem
  padding-bottom: 2rem
  background: linear-gradient(to bottom, $primary25 0%, $primary50 100%)
  color: $white

.blog-teaser
  display: flex
  margin-bottom: 4rem
  color: $black
  text-decoration: none
  cursor: pointer

  &:hover
    background: $primary50

.blog-teaser__image
  width: 20%
  min-width: 150px
  max-width: 300px
  background-image: url('//placehold.it/300x400')
  background-size: cover
  background-position: center

.blog-teaser__content
  max-width: 500px
  margin-left: 30px

.blog-introtext
  display: none

.blog-headline
  font-size: 2rem
  font-weight: 700
  margin: .5rem 0

.blog-date
  font-weight: 300
  font-size: .9rem

@media screen and (min-width: 768px)
  .blog-introtext
    display: block