.section
  padding: 15px

.section--intro
  background: linear-gradient(to bottom, $primary0 0%, $primary25 100%)
  color: $white
  padding-bottom: 100px

.section.imprint-intro
  padding-bottom: 15px

.headline
  text-align: center
  padding: 2.5rem 0

  h2
    font-weight: 200
    line-height: 1.2em
    font-size: 2.8rem
    max-width: 720px
    margin: 0 auto

.section--intro-overlap
  position: relative
  transform: translateY(-100px)
  margin-bottom: -100px

.section.section--map
  width: 100%
  box-sizing: border-box
  height: 500px
  position: relative
  padding: 0

#map
  height: 100%
  width: 100%

.map-gradient
  height: 200px
  background: linear-gradient(180deg, $white 0%, rgba(255,255,255,0) 100%)
  position: absolute
  z-index: 1
  width: 100%

.mapboxgl-ctrl .mapboxgl-ctrl-compass
  display: none

.section--portfolio-link
  padding: 10px 15px 25px 15px

  .section--clients
    box-sizing: border-box

.clients
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  >*
    height: 15px
    width: auto
    margin-bottom: 5px
    padding: 5px
    opacity: .7

.section.section--awards
  background: linear-gradient(to bottom, $primary50 0%, $primary75 100%)
  color: $white

  .awards-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between


  .award
    text-decoration: none
    color: $white
    display: flex
    flex-direction: column
    width: 47%
    flex-shrink: 0
    margin-bottom: 1em

  .hide
    display: none

  .small-teaser--headline
    color: $white

  .small-teaser--description
    color: $white

@media screen and (min-width: 768px)
  .section
    padding: 30px

  .section--intro
    padding-bottom: 200px

  .section--intro-overlap
    transform: translateY(-200px)
    margin-bottom: -200px

  .clients >*
    height: 20px

  .section.section--awards
    .award
      width: 30%

@media screen and (min-width: 1024px)
  .section--intro
    padding-bottom: 300px

  .section--intro-overlap
    transform: translateY(-300px)
    margin-bottom: -300px

  .clients >*
    height: 27px
    padding: 8px
    margin-bottom: 8px
