.swipe
  overflow: hidden
  visibility: hidden
  position: relative
  border-radius: 4px
  transform: translateZ(0)
  height: 180px

  &:not(.main-slider)
    .swipe-wrap
      position: absolute
      height: 100%

.main-slider
  height: auto
  min-height: 157px

.swipe-wrap
  overflow: hidden
  position: relative

  & > div
    float: left
    width: 100%
    position: relative
    overflow: hidden
    height: 100%

.slide
  background: $white

.slider-controls
  position: absolute
  bottom: 5px
  display: flex
  list-style: none
  padding: 0
  margin: 0 auto
  width: 100%
  max-width: 200px
  justify-content: center
  left: 0
  right: 0

  li
    width: 4px
    height: 4px
    background: rgba($grey, .5)
    // border: 1px solid $white
    border-radius: 50%
    margin: 3px

    &.active
      background: $primary0

.video-teaser--content
  position: absolute
  width: 100%
  bottom: 0
  padding: 20px
  box-sizing: border-box
  z-index: 500

  .small-teaser--headline
    color: $black
    font-size: 2.2rem
    max-width: 400px

.video-teaser--button
  background: transparent
  border: 2px solid $black
  border-radius: 3px
  font-family: $sans
  font-size: 1rem
  color: $black
  padding: .4em .8em
  text-decoration: none
  transition: background .3s, color .3s, border .3s
  margin-top: 1rem
  margin-bottom: 0
  display: none

  &:hover
    background: $primary25
    color: white
    border: 2px solid $primary75

.video-teaser--headline
  text-align: center
  font-weight: 700
  color: $black

.portfolio-button
  display: block
  margin-top: 0
  text-align: center
  border-color: $primary0
  color: $primary0

.slider-gradient
  position: absolute
  height: 101%
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0) 100%);
  width: 100%
  z-index: 100
  border-radius: 4px
  overflow: hidden

.video-teaser .bg-video
  display: none
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 1
  min-width: 100%
  min-height: 100%
  overflow: hidden

@media screen and (min-width: 500px)
  .section--portfolio-link
    display: none

  .video-teaser--button
    font-size: 1.4rem
    display: inline-block

  .video-teaser--headline
    text-align: left
    font-size: 2.1rem

  .slider-controls li
    height: 8px
    width: 8px

  .swipe:not(.main-slider)
    height: 250px

  .main-slider
    min-height: 258px
    
@media screen and (min-width: 768px)
  .video-teaser--content
    bottom: 15px

    .small-teaser--headline
      font-size: 2.4rem

  .swipe:not(.main-slider)
    height: auto

  .main-slider
    min-height: 402px
  
  .video-teaser .bg-video
    display: block
  
  .video-teaser .bg-gif
    display: none

@media screen and (min-width: 1024px)
  .video-teaser--content
    .small-teaser--headline
      font-size: 2rem

  .main-slider
    min-height: 537px
