.swipe
  overflow hidden
  visibility hidden
  position relative

.swipe-wrap
  overflow hidden
  position relative
  & > div
    float left
    width 100%
    position relative
    overflow hidden

.slide
  background: $white

.slider-controls
  position: absolute
  bottom: 5px
  display: none
  list-style: none
  padding: 0
  margin: 0 auto
  width: 100%
  max-width: 200px
  justify-content: center
  left: 0
  right: 0

  li
    width: 10px
    height: 10px
    background: rgba($white, .8)
    // border: 1px solid $white
    border-radius: 50%
    margin: 3px

.video-teaser--content
  position: absolute
  width: 100%
  bottom: 0
  padding: 20px
  box-sizing: border-box
  z-index: 10

  .small-teaser--headline
    color: $white
    font-size: 1.2rem
    max-width: 400px

.video-teaser--button
  background: transparent
  border: 2px solid $white
  border-radius: 3px
  font-family: $sans
  font-size: .8rem
  color: $white
  padding: .2em .8em
  text-decoration: none

.slider-gradient
  position: absolute
  height: 100px
  background: linear-gradient(180deg, transparent, $black);
  width: 100%
  z-index: 5
  bottom: 0

.bg-gif, .bg-video
  position: absolute
  width: 100%
  top: 0
  left: 0
  opacity: 0
  display: none

.slide.playing
  .bg-gif, .bg-video
    opacity: 1
  .bg-placeholder
    opacity: 0

@media screen and (min-width: 768px)
  .video-teaser--content
    bottom: 15px

    .small-teaser--headline
      font-size: 1.5rem

  .slider-controls
    display: flex
  
  .video-teaser--button
    font-size: 1rem
  
  .slider-gradient
    height: 150px

@media screen and (min-width: 1024px)
  .video-teaser--content .small-teaser--headline
    font-size: 2rem