.colors-wrapper
  display: flex
  flex-direction: row

.colors--item
  display: flex
  flex-direction: row
  align-items: center
  margin-right: 15px

.colors--shape
  width: 25px
  height: 24px
  border-radius: 50%
  margin-right: 10px
