.teaser
  position: relative

.teaser--text-inside
  .teaser__title
    position: absolute
    bottom: 0
    padding: 1rem

.teaser__image
  background: #111
  min-height: 250px

.teaser__title
  display: block
  text-decoration: underline
  font-size: 1.5rem
  padding: 1rem 0