$serif = "ff-meta-serif-web-pro", serif
$sans = "brandon-grotesque", sans-serif

h1,h2,h3,h4,h5
  font-family: $sans

h3
  font-size: 2rem
  font-weight: 500

p, .text
  font-size: .95rem
  max-width: 620px
  font-weight: 300
  line-height: 1.4

h1
  font-size: 2rem

h2
  font-size: 1.2rem

@media screen and (min-width: 768px)
  h1
    font-size: 3rem
  
  h2
    font-size: 1.8rem

@media screen and (min-width: 1024px)
  h1
    font-size: 3.5rem
  
  h2
    font-size: 2rem
  
  p, .text
    font-size: 1.1rem

@media screen and (min-width: 1500px)
  h1
    font-size: 3.8rem
  
  h2
    font-size: 2.3rem