<footer class="section section--footer">
  <div class="content">
    <div class="webkid-logo">webkid</div>
    <div class="footer-grid">
      <div class="footer-column">
        <ul class="footer-list adress">
          <li>Oranienstr. 19A</li>
          <li>10999 Berlin</li>
          <li>Germany</li>
        </ul>
        <ul class="footer-list">
          <li>+49 30 5507 8159</li>
          <li>info@webkid.io</li>
        </ul>
      </div>
      
      <div class="footer-column">
        <ul class="footer-list">
          <li>Blog</li>
          <li>Portfolio</li>
          <li>Contact</li>
          <li>Imprint</li>
        </ul>
      </div>

      <div class="footer-column">
        <ul class="footer-list">
          <li>Twitter</li>
          <li>Github</li>
        </ul>
      </div>
    </div>

  </div>
</footer>