<section class="section section--map">
  <div id="map"></div>
</section>

<footer class="section section--footer">
  <div class="content">
    <div class="webkid-logo">webkid</div>
    <div class="footer-grid">
      <div class="footer-column">
        <ul class="footer-list adress">
          <li>Oranienstr. 19A</li>
          <li>10999 Berlin</li>
          <li>Germany</li>
        </ul>
        <ul class="footer-list">
          <li>+49 30 5507 8159</li>
          <li><a href="mailto:info@webkid.io">info@webkid.io</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <ul class="footer-list">
          <li><a href="https://blog.webkid.io">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/imprint">Imprint</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <ul class="footer-list">
          <li>Twitter</li>
          <li>Github</li>
        </ul>
      </div>
    </div>

  </div>
</footer>
