<header class="header">
  <a class="webkid-logo" href="https://www.webkid.io">webkid</a>
  <nav class="nav">
    <a href="/portfolio" class="nav__item">portfolio</a>
    <a href="https://blog.webkid.io" class="nav__item">blog</a>
    <a href="https://github.com/wbkd" class="nav__item">github</a>
  </nav>
</header>
