<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="WEBKID brings your data to life. We produce interactive web experiences with the latest technology that work in every browser and on every device.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><% if(title) { %><%=title +' - '%><% }%>WEBKID is a group of data visualization experts who produce complex, data-driven and interactive applications</title>

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="WEBKID">
  <meta itemprop="description" content="WEBKID brings your data to life. We produce interactive web experiences with the latest technology that work in every browser and on every device.">
  <meta itemprop="image" content="https://www.webkid.io/images/teaser_large.png">

  <!-- Twitter Card data -->
  <meta name="twitter:site" content="@webk1d">
  <meta name="twitter:title" content="WEBKID">
  <meta name="twitter:description" content="WEBKID brings your data to life. We produce interactive web experiences with the latest technology that work in every browser and on every device.">
  <meta name="twitter:creator" content="@webk1d">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://www.webkid.io/images/teaser.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="WEBKID" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.webkid.io/" />
  <meta property="og:image" content="https//webkid.io/images/teaser_large.png" />
  <meta property="og:description" content="WEBKID brings your data to life. We produce interactive web experiences with the latest technology that work in every browser and on every device." />
  <meta property="og:site_name" content="WEBKID" />

  <script src="https://use.typekit.net/wji4bpj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.webkid.io/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://analytics.webkid.io/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</head>
