<header class="header">
  <a class="webkid-logo" href="https://www.webkid.io">webkid</a>
  <nav class="nav">
    <a class="nav__item">portfolio</a>
    <a class="nav__item">blog</a>
    <a class="nav__item">github</a>
  </nav>
</header>
