<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>WEBKID Data Visualization Studio</title>
<meta name="description" content="Hi, we are webkid! A Berlin-based team of experts who build hand-crafted and beautiful interactive applications for the web.">

<!-- Short description of your site's subject -->
<meta name="subject" content="interactive applications for the web">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="WEBKID">
<meta itemprop="description" content="Hi, we are webkid! A Berlin-based team of experts who build hand-crafted and beautiful interactive applications for the web.">
<meta itemprop="image" content="https://webkid.io/static/images/fb-teaser.jpg">

<!-- Twitter Card data -->
<meta name="twitter:site" content="@webk1d">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="WEBKID Data Visualization Studio">
<meta name="twitter:description" content="Hi, we are webkid! A Berlin-based team of experts who build hand-crafted and beautiful interactive applications for the web.">
<meta name="twitter:creator" content="@webk1d">
<meta name="twitter:image" content="https://webkid.io/static/images/fb-teaser.jpg">
<meta name="twitter:image:src" content="https://webkid.io/static/images/fb-teaser.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="WEBKID Data Visualization Studio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://webkid.io/" />
<meta property="og:image" content="https://webkid.io/static/images/fb-teaser.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
<meta property="og:description" content="Hi, we are webkid! A Berlin-based team of experts who build hand-crafted and beautiful interactive applications for the web." />
<meta property="og:site_name" content="WEBKID" />

<!-- Favicon -->
<link href="/static/favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
<link href="/static/favicon/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96">
<link href="/static/favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
<!-- Mapboxgl styles -->
<link href="https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css" rel="stylesheet" />


<link rel="preload" as=script href="https://use.typekit.net/wji4bpj.js">
<link rel="preload" as=style href="bundle.css"> 
<link rel="preload" as=script href="main.js"> 

<link rel="preload" as=video href="static/teaser/skyline.mp4"> 

<!-- Typekit -->
<script src="https://use.typekit.net/wji4bpj.js"></script>
<script>try{Typekit.load({ async: false });}catch(e){}</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.webkid.io/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", 1]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://analytics.webkid.io/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

