<div class="project">
  <div class="small-teaser">
    <div class="small-teaser--image box-shadow--large" style="background-image:url('static/images/map.jpg')"></div>
    <div class="small-teaser--headline"><%=project.title%></div>
    <div class="small-teaser--description"><%=project.description%></div>
  </div>
</div>
