<div class="project--higlighted">
  <a class="image--wrapper" href="<%=project.title%>">
    <img class="project__image--highlighted box-shadow--large" src="<%=project.image%>" />
  </a>
  <div class="project__info">
    <h3><%=project.title%></h1>
    <div class="info__text text"><%=project.description%></div>
  </div>
</div>
