<div class="project--higlighted">
  <a>
    <img class="project__image--highlighted" src="<%=project.image%>" />
    <div class="project__info">
      <h3><%=project.title%></h1>
      <div class="info__text"><%=project.description%></div>
    </div>
  </a>
</div>
