<div class="project--higlighted">
  <div class="project-highlighted-image">
    <img class="project__image--highlighted" src="<%=project.image%>" />
  </div>
  <div class="project__info">
    <h3><%=project.title%></h1>
    <div class="info__text"><%=project.description%></div>
  </div>
</div>
