<div class="portfolio-project">
  <div class="small-teaser--image project--image box-shadow--large" style="background-image:url('<%=project.image%>')"></div>
  <div class="small-teaser--headline"><%=project.title%></div>
  <div class="small-teaser--description text"><%=project.description%></div>
</div>
