<a href="/portfolio" class="small-teaser">
  <div class="small-teaser--image__wrapper box-shadow--large">
    <div class="small-teaser--image image-zoom" style="background-image:url('<%= teaser.image %>')"></div>
  </div>
  <div class="small-teaser--headline"><%= teaser.title %></div>
  <p class="small-teaser--description teaser--text"><%= teaser.description %></p>
</a>
