<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webkid | imprint</title>
  <script src="https://use.typekit.net/wji4bpj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <section class="section section--intro imprint-intro">

    <% include src/partials/header %>

    <div class="headline content">
      <h1>Impressum</h1>
    </div>
  </section>

  <section class="section section--imprint">
    <div class="content">
      <h3>Angaben gemäß § 5 TMG:</h3>
      <div class="text">webkid GmbH</div>
      <div class="text">Oranienstraße 19A</div>
      <div class="text">10999 Berlin</div>

      <h3>Vertreten durch:</h3>
      <div class="text">Moritz Klack</div>
      <div class="text">Christopher Möller</div>

      <h3>Kontakt:</h3>
      <div class="text">Telefon: 030 5507 8159</div>
      <div class="text">E-Mail: info@webkid.io</div>

      <h3>Registereintrag:</h3>
      <div class="text">Eintragung im Handelsregister</div>
      <div class="text">Registergericht: Amtsgericht Berlin Charlottenburg</div>
      <div class="text">Registernummer: HRB 165568</div>

      <h3>Umsatzsteuer-ID:</h3>
      <div class="text">Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:</div>
      <div class="text">37/581/30516</div>
    </div>
  </section>
</body>
</html>