<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webkid</title>
  <script src="https://use.typekit.net/wji4bpj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <section class="section section--intro">
    
    <header class="header">
      <a class="webkid-logo" href="https://www.webkid.io">webkid</a>
      <nav class="nav">
        <a class="nav__item">projects</a>
        <a class="nav__item">blog</a>
        <a class="nav__item">contact</a>
        <a class="nav__item">github</a>
      </nav>
    </header>

    <div class="headline content">
      <h1>A Data Visualization Studio</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam vero, ipsum! Accusamus incidunt quisquam quia vero sit modi quos aperiam est, impedit assumenda.</h2>
    </div>

  </section>

  <section class="section section--intro-overlap">
    <div class="video-teaser box-shadow--large">
      <img src="//placehold.it/1000x563" />
    </div>
  </section>

  <section class="section section--clients">
    <div class="divider content">clients</div>
    <div class="clients content">
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
      <img src="//placehold.it/120x30"/>
    </div>
  </section>

  <section class="section section--contact">
    <div class="content">
      <h3>How can we help you?</h3>

      <form class="contact-form">
        <div class="tags">
          <label class="tag">
            <input type="checkbox" value="1"><span>maps</span>
          </label>

          <label class="tag">
            <input type="checkbox" value="1"><span>data visualization</span>
          </label>

          <label class="tag">
            <input type="checkbox" value="1"><span>d3</span>
          </label>

          <label class="tag">
            <input type="checkbox" value="1"><span>react</span>
          </label>

          <label class="tag">
            <input type="checkbox" value="1"><span>leaflet</span>
          </label>
        </div>
      </form>
    </div>
  </section>

</body>
</html>