<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webkid</title>
  <script src="https://use.typekit.net/wji4bpj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <section class="section section--intro">
    
    <header class="header">
      <a class="webkid-logo" href="https://www.webkid.io">webkid</a>
      <nav class="nav">
        <a class="nav__item">portfolio</a>
        <a class="nav__item">blog</a>
        <a class="nav__item">github</a>
      </nav>
    </header>

    <div class="headline content">
      <h1>The Data Visualization Agency</h1>
      <h2>webkid is a group of data visualization experts who produce complex, data-driven and interactive applications</h2>
    </div>
  </section>

  <section class="section section--intro-overlap">
    <div class="video-teaser box-shadow--large">
      <video muted autoplay loop>
        <source src="https://d2v9y0dukr6mq2.cloudfront.net/video/preview/AHWh2aE/after-effects-cs4-template-abstract-grid-presentation_7ysj02eb__p__PM.mp4" type="video/mp4" />
      </video>
    </div>
  </section>

  <section class="section section--projects">
    <div class="small-teaser-wrapper content">
      <div class="small-teaser box-shadow--large"></div>
      <div class="small-teaser box-shadow--large"></div>
      <div class="small-teaser box-shadow--large"></div>
    </div>
  </section>

  <section class="section section--clients">
    <div class="content">
      <div class="divider">clients</div>
      <div class="clients">
        <img src="static/images/bmo.svg"/>
        <img src="static/images/nzz.svg"/>
        <img src="static/images/b1.svg"/>
        <img src="static/images/SRF.svg"/>
        <img src="static/images/correctiv.svg"/>
        <img src="static/images/hessenschau.svg"/>
        <img src="static/images/taz.svg"/>
        <img src="static/images/oecd.svg"/>
        <img src="static/images/welt.svg"/>
        <img src="static/images/wetter.svg"/>
      </div> 
    </div>
  </section>

  <section class="section section--contact">
    <div class="content">
      <h3>How can we help you?</h3>

      <form name="webkid-contact" class="contact-form" netlify-honeypot="bot-field" netlify>
        <div class="tags input-wrapper">
          <label class="tag">
            <input type="checkbox" name="maps" value="maps"><span>maps</span>
          </label>

          <label class="tag">
            <input type="checkbox" name="data-vis" value="data-vis"><span>data visualization</span>
          </label>

          <label class="tag">
            <input type="checkbox" name="d3" value="d3"><span>d3</span>
          </label>

          <label class="tag">
            <input type="checkbox" name="react" value="react"><span>react</span>
          </label>

          <label class="tag">
            <input type="checkbox" name="leaflet" value="leaflet"><span>leaflet</span>
          </label>
        </div>

        <div class="input-wrapper">
          <input class="input" type="text" name="email" placeholder="your email" />
        </div>

        <div class="input-wrapper">
          <textarea class="input" name="message" placeholder="your message"></textarea>
        </div>

        <div class="input-wrapper">
          <button class="button button--submit" type="submit">submit</button>
        </div>

      </form>
    </div>
  </section>

  <section class="section section--blog">
    <div class="content">
      <h3>Latest Blogposts</h3>

      <a href="//blog.webkid.io" class="blog-teaser">
        <div class="blog-teaser__image box-shadow--large"></div>
        <div class="blog-teaser__content">
          <div class="blog-date">21.21.2112</div>
          <div class="blog-headline">How to create maps with Leaflet and React</div>
          <div class="blog-introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt earum ullam similique commodi, fuga reprehenderit voluptatum sapiente officia provident dolores. Repudiandae officia iure, dolore, pariatur in deleniti temporibus facilis accusantium.</div>
        </div>
      </a>

      <div class="blog-teaser">
        <div class="blog-teaser__image box-shadow--large"></div>
        <div class="blog-teaser__content">
          <div class="blog-date">21.21.2112</div>
          <div class="blog-headline">Lorem Ipsum Lorem Ipsum</div>
          <div class="blog-introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt earum ullam similique commodi, fuga reprehenderit voluptatum sapiente officia provident dolores. Repudiandae officia iure, dolore, pariatur in deleniti temporibus facilis accusantium.</div>
        </div>
      </div>

      <div class="blog-teaser">
        <div class="blog-teaser__image box-shadow--large"></div>
        <div class="blog-teaser__content">
          <div class="blog-date">21.21.2112</div>
          <div class="blog-headline">Lorem Ipsum Lorem Ipsum</div>
          <div class="blog-introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt earum ullam similique commodi, fuga reprehenderit voluptatum sapiente officia provident dolores. Repudiandae officia iure, dolore, pariatur in deleniti temporibus facilis accusantium.</div>
        </div>
      </div>

    </div>
    
  </section>

  <section class="section section--map">
    <div id="map"></div>
  </section>

  <footer class="section section--footer">
    <div class="content">
      <div class="webkid-logo">webkid</div>
      <div class="footer-grid">
        <div class="footer-column">
          <ul class="footer-list">
            <li>Oranienstr. 19A</li>
            <li>10999 Berlin</li>
            <li>Germany</li>
          </ul>
          <ul class="footer-list">
            <li>+49 30 5507 8159</li>
            <li>info@webkid.io</li>
          </ul>
        </div>
        
        <div class="footer-column">
          <ul class="footer-list">
            <li>Blog</li>
            <li>Portfolio</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="footer-column">
          <ul class="footer-list">
            <li>Blog</li>
            <li>Portfolio</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>

    </div>
  </footer>

</body>
</html>