<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webkid Portfolio</title>
  <script src="https://use.typekit.net/wji4bpj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <section class="section section__projects--highlight">
    <% htmlWebpackPlugin.options.projects.forEach(function(project) { %>
      <% if(project.isHighlight) { %>
        <% include src/partials/project_highlighted %>
      <% } %>
    <% }) %>
  </section>

  <section class="section section__projects">
    <% htmlWebpackPlugin.options.projects.forEach(function(project) { %>
      <% if(!project.isHighlight) { %>
        <% include src/partials/project %>
      <% } %>
    <% }) %>
  </section>
</body>
</html>
