<!DOCTYPE html>
<html lang="en">
  <head>
    <% include src/partials/meta_portfolio %>
  </head>
  <body>
    <% var highlightCount = 0; %>
    <% var projectsCount = 0; %>
    <% htmlWebpackPlugin.options.projects.forEach(function(project, index) { %>
      <% if(project.isHighlight) { %>
        <% highlightCount = index %>
        <section class="section section__projects--highlight <%=project.title === 'AWARDS' ? 'section--awards' : ''%>">
          <% if(index === 0) { %>
            <% include src/partials/header %>
          <% } %>

          <% if(project.title === 'AWARDS') { %>
          <div class="content">
              <% include src/partials/awards %>
          </div>
          <% } else { %>
          <div class="content">
              <% include src/partials/project_highlighted %>
          </div>
          <% } %>
        </section>
      <% } %>

      <% if(index > 0 && htmlWebpackPlugin.options.projects[index - 1].isHighlight) { %>
        <section class="section section__projects">
          <div class="content projects-wrapper">
      <% } %>

        <% if(!project.isHighlight) { %>
          <%if(projectsCount == 0) { %>
            <div class="projects-row grid grid--gutters">
          <% } %>
            <div class="grid-cell">
              <% include src/partials/project %>
          </div>
          <% projectsCount += 1 %>
        <% } %>

        <% if(projectsCount == 4) { %>
          </div>
          <% projectsCount = 0 %>
        <% } %>

      <% if(index === htmlWebpackPlugin.options.projects.length - 1 || index < htmlWebpackPlugin.options.projects.length - 1 && htmlWebpackPlugin.options.projects[index + 1].isHighlight) { %>
          </div>
        </section>
      <% } %>

    <% }) %>

    <% include src/partials/footer %>
  </body>
</html>
