<!DOCTYPE html>
<html lang="en">
<% include src/partials/head %>
  <body>
    <% htmlWebpackPlugin.options.projects.forEach(function(project, index) { %>
      <% if(project.isHighlight) { %>
        <section class="section section__projects--highlight">
          <% if(index === 0) { %>
            <% include src/partials/header %>
          <% } %>

          <div class="content">
              <% include src/partials/project_highlighted %>
          </div>
        </section>
      <% } %>

      <% if(index > 0 && htmlWebpackPlugin.options.projects[index - 1].isHighlight) { %>
        <section class="section section__projects">
          <div class="content projects-wrapper">
      <% } %>

      <% if(!project.isHighlight) { %>
        <% include src/partials/project %>
      <% } %>

      <% if(index === htmlWebpackPlugin.options.projects.length - 1 || index < htmlWebpackPlugin.options.projects.length - 1 && htmlWebpackPlugin.options.projects[index + 1].isHighlight) { %>
          </div>
        </section>
      <% } %>

    <% }) %>
    <% include src/partials/footer %>
  </body>
</html>
